/*Main Page Styles*/
body {
  background-image: url(../media/village_background.jpg);
  background-repeat: no-repeat;
  font-family: arial;
}
#Content_Block {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: white;
  border: .5em solid;
  border-image-source: linear-gradient(#A7C2D9,#2B6CA3);
  border-image-slice: 1;
    
}
#title {
  color: #2B6CA3;	
  display: inline;
  vertical-align: middle;
}
#logo {
  display: inline-block;
}
  
/*Scaling for smaller media*/
@media only screen and (max-width: 750px) { 
  body {
    margin: 0;
  }
  #logo {
	width: 50%;
	display: block;
    margin-right: auto;
	margin-left: auto;
  }
  #Content_Block {
    width: 100%;
  }
  #title {
    text-align: center;
    float: left;
  }
}